<%- include('partials/header') %>
<%- include('partials/nav') %>
<link rel="stylesheet" href="css/about-us.css">

<div class="about-us">
    <div class="menu-intro">
        <div class="intro-img-container">
          <img src="https://themes.muffingroup.com/be/cafe3/wp-content/uploads/2020/02/cafe3-subheader1.jpg" alt="Cafe Menu Intro" class="intro-img">
          <div class="intro-text">
            <h1>About Us</h1>
            <p>Discover our story and passion for coffee.</p>
          </div>
        </div>
      </div>
      <div class="decorative-line"></div>
      <div class="story-section">
        <div class="story-text">
            <h2>Our Story</h2>
            <p>Our cafe was founded with the mission to bring the best coffee to the community. We pride ourselves on using ethically sourced beans and providing a cozy space for everyone to enjoy.</p>
        </div>
        <div class="story-images">
            <img src="https://themes.muffingroup.com/be/cafe3/wp-content/uploads/2020/02/cafe3-gallery-pic6.jpg" alt="Cafe Interior">
            <img src="https://themes.muffingroup.com/be/cafe3/wp-content/uploads/2020/02/cafe3-gallery-pic7.jpg" alt="Cafe Interior">
            <img src="https://themes.muffingroup.com/be/cafe3/wp-content/uploads/2020/02/cafe3-gallery-pic8.jpg" alt="Cafe Interior">
        </div>
    </div>      
    <div class="decorative-line"></div>
    <div class="why-choose-us">
        <h2>Why Choose Us</h2>
        <div class="benefits">
            <div class="benefit">
                <img src="https://themes.muffingroup.com/be/cafe3/wp-content/uploads/2020/02/cafe3-gallery-pic4.jpg" alt="Quality Coffee">
                <p>Quality Coffee</p>
            </div>
            <div class="benefit">
                <img src="https://themes.muffingroup.com/be/cafe3/wp-content/uploads/2020/02/cafe3-gallery-pic5.jpg" alt="Cozy Ambiance">
                <p>Cozy Ambiance</p>
            </div>
            <div class="benefit">
                <img src="https://themes.muffingroup.com/be/cafe3/wp-content/uploads/2020/02/cafe3-gallery-pic11.jpg" alt="Community Focused">
                <p>Community Focused</p>
            </div>
        </div>
    </div>

    <div class="testimonials-section">
        <h2>What Our Customers Say</h2>
        <div class="testimonial-wrapper">
            <img src="https://i.pinimg.com/736x/83/df/54/83df54247b337cf41cc76716cd5edb0b.jpg" alt="Decorative image" class="testimonial-image">
            <div class="testimonials">
                <blockquote>
                    <p>"The best coffee in town! The atmosphere is perfect for relaxing or working."</p>
                    <h5>Karina</h5>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
