<%- include('partials/header') %>
<%- include('partials/nav') %>
<link rel="stylesheet" href="css/contact.css">

<div class="contact-intro">
    <div class="intro-img-container">
      <img src="https://coffeebean.com.au/cdn/shop/articles/nathan-dumlao-6VhPY27jdps-unsplash_1600x.jpg" alt="Cafe Menu Intro" class="intro-img">
      <div class="intro-text">
        <h1>Contact Us</h1>
        <p>We'd love to hear from you!</p>
      </div>
    </div> 
</div>

<div class="contact-info">
    <div class="contact-details">
        <h2>Get in Touch</h2>
        <p><img src="https://cdn1.iconfinder.com/data/icons/online-social-network-service/96/Asset_21-256.png" alt="Phone Icon" class="contact-icon"> +1 234 567 890</p>
        <p><img src="https://cdn0.iconfinder.com/data/icons/social-circle-3/72/Email-512.png" alt="Email Icon" class="contact-icon"> contact@cafeshop.com</p>
        <p><img src="https://cdn4.iconfinder.com/data/icons/miu-black-social-2/60/location-512.png" alt="Address Icon" class="contact-icon"> 123 Coffee Lane, Brewtown</p>
    </div>
    <div class="social-media">
        <h2>Follow Us</h2>
        <div class="social-item">
            <img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Instagram_svg-512.png" alt="Instagram Icon" class="social-icon">
            <a href="" target="_blank">Instagram</a>
        </div>
        <div class="social-item">
            <img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Facebook_glyph_svg-512.png" alt="Facebook Icon" class="social-icon">
            <a href="" target="_blank">Facebook</a>
        </div>
        <div class="social-item">
            <img src="https://cdn2.iconfinder.com/data/icons/social-media-2421/512/Twitter-512.png" alt="Twitter Icon" class="social-icon">
            <a href="" target="_blank">Twitter</a>
        </div>
    </div>
</div>