<%- include('partials/header') %>
<%- include('partials/nav') %>
<link rel="stylesheet" href="/css/home.css">
<div class="image-container">
    <img src="https://www.upmenu.com/wp-content/uploads/2023/10/7-cafe-names-cafe-linkosuo.jpg" alt="Cafe Image">
    <div class="welcome-text">
        <h1>Welcome to Our Cafe</h1>
        <p>Experience the best coffee in town!</p>
    </div>
</div>
<section class="about-us">
    <div class="about-text">
        <h2>About Us</h2>
        <p>Welcome to our cozy cafe where you can enjoy the finest coffee and delightful pastries. We pride ourselves on our quality and service, offering a relaxing atmosphere for you to unwind and savor every moment. Whether you’re meeting friends, working remotely, or just taking a break, our cafe is the perfect place for you.</p>
        <a href="/about" class="about-us-btn">More About Us</a>
    </div>
    <div class="about-img">
        <img src="https://themes.muffingroup.com/be/coffee/wp-content/uploads/2015/01/home_coffee_gallery10.jpg" alt="">
    </div>
</section>
<section class="menu-section">
    <div class="menu-item">
        <img src="https://hoxtoncoffee.com/cdn/shop/articles/latte-art-on-mocha_1200x1200.jpg" class="menu-img">
        <div class="menu-text">
            <h3>Mocha</h3>
            <p>A rich blend of espresso with chocolate, topped with whipped cream. Perfect for a sweet coffee treat.</p>
        </div>
    </div>

    <div class="menu-item">
        <img src="https://popmenucloud.com/cdn-cgi/image/width%3D1200%2Cheight%3D1200%2Cfit%3Dscale-down%2Cformat%3Dauto%2Cquality%3D60/zeaxdpym/43973dac-312b-4195-9d82-39514b5df87b.jpg" class="menu-img">
        <div class="menu-text">
            <h3>Brownies</h3>
            <p> .</p>
            <p><a href="/menu" class="view-more-button">See Full Menu</a></p>
        </div>
    </div>
</section>
<%- include('partials/footer') %>