.contact-intro {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.intro-img-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.intro-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 100%;
}

.intro-text h1 {
    color: #f8f4e1;
    font-size: 2.5em;
    margin: 0;
    text-align: center;
}

.intro-text p {
    color: #f8f4e1;
    text-align: center;
    font-size: 1.2em;
    margin: 0;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #f8f4e1;
    height: 300px;
    position: relative;
}

.contact-details, .social-media {
    width: 45%;
    padding: 0 20px;
}

.contact-details {
    margin-right: auto;
}

.social-media {
    margin-left: auto;
}

.contact-details h2, .social-media h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.contact-details p {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.contact-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.social-media .social-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.social-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.social-item a {
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
}

.social-item a:hover {
    text-decoration: underline;
}
