html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(135deg, #f4f4f4, #e0e0e0);
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px;
    border: 1px solid #e0e0e0;
}

.form-container h2 {
    margin-bottom: 30px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="url"],
.form-group input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="password"]:focus {
    border-color: #a86d3a;
    outline: none;
}

.form-group button {
    background-color: #a86d3a;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%; /* Make the button span the full width of the container */
}

.form-group button:hover {
    background-color: #8c5e3c;
}


.form-footer {
    margin-top: 20px;
    text-align: center;
}

.form-footer p {
    font-size: 14px;
    color: #555;
}

.form-footer a {
    color: #a86d3a;
    text-decoration: none;
    font-weight: bold;
}

.form-footer a:hover {
    text-decoration: underline;
}